<div>
    <h3>article title</h3>
    <div>
        <label for="startFrom">From:</label>
        <input type="datetime-local" id="startVote" name="startVote" value="2022-02-01T10:30">
        
        <label for="endTo">To:</label>
        <input type="datetime-local" id="startVote" name="endVote" value="2022-02-01T19:30">
    </div>
    
    <div>
        <tbody>
            <tr>
                <td><p>Description</p></td>
                <td><p>AM</p></td>
                <td><p>Modify</p></td>
            </tr>
            <tr>
                <td>
                    <input type="text" id="subject" name="subject">
                </td>
                <td>
                    <input type="text" id="amendement" name="amendement">
                </td>
                <td>
                    <button class="btn info"><i class="fa fa-pencil" style="font-size:36px"></i></button>
                    <button class="btn info"><i class="fa fa-trash" style="font-size:36px"></i></button></td>
            </tr>
            
        </tbody>
        <button class="btn info">Add subject</button>
        <button class="btn info">Save</button>
    </div>

</div>