<mat-toolbar>
  <mat-form-field>
    <mat-label>Select political group</mat-label>
    <mat-select [(ngModel)]="selectedValue" name="filter" (selectionChange)="filter()">
      <mat-option [value]="'all'">All</mat-option>
      <mat-option *ngFor="let item of groups" [value]="item">{{
        item
      }}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-paginator [pageSizeOptions]="[10, 25, 50]" showFirstLastButtons></mat-paginator>
</mat-toolbar>

<table class="custom-table" mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
  <ng-container matColumnDef="articleName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Article Name</th>
    <td mat-cell *matCellDef="let item">{{ item.articleName }}</td>
  </ng-container>
  <ng-container matColumnDef="subArticleName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Sub Article Name</th>
    <td mat-cell *matCellDef="let item">{{ item.subArticleName }}</td>
  </ng-container>
  <ng-container matColumnDef="voteInFavourCount">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>In Favour</th>
    <td mat-cell *matCellDef="let item">{{ item.inFavorCount }}</td>
  </ng-container>
  <ng-container matColumnDef="voteNotInFavourCount">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Not In Favour</th>
    <td mat-cell *matCellDef="let item">{{ item.notInFavorCount }}</td>
  </ng-container>
  <ng-container matColumnDef="voteNeutralCount">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Neutral</th>
    <td mat-cell *matCellDef="let item">{{ item.neutralCount }}</td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr
    mat-row
    (click)="clickRow(row)"
    *matRowDef="let row; columns: displayedColumns"
  ></tr>
</table>
