<h1 class="center-text">New User Creation</h1>

<mat-card class="center-card">
  <mat-card-content>
    <div class="form-group">
      <h3>Political Group:</h3>
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Political Group</mat-label>
        <mat-select [(value)]="groupName">
          <mat-option *ngFor="let item of groups" [value]="item.readableId" (click)="this.groupId = item.id; groupName = item.readableId">
            {{item.readableId}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="form-group">
      <h3>Role:</h3>
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Role</mat-label>
        <mat-select [(value)]="roleName">
          <mat-option *ngFor="let item of roles" [value]="item.name" (click)="this.roleId = item.id; roleName = item.name">
            {{item.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="form-group">
      <h3>First Name:</h3>
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>First Name</mat-label>
        <input matInput type="text" name="firstName" [(ngModel)]="firstName">
      </mat-form-field>
    </div>

    <div class="form-group">
      <h3>Last Name:</h3>
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Last Name</mat-label>
        <input matInput type="text" name="lastName" [(ngModel)]="lastName">
      </mat-form-field>
    </div>

    <div class="form-group">
      <h3>Email:</h3>
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput type="email" name="email" [(ngModel)]="email">
      </mat-form-field>
    </div>

    <div class="form-group">
      <h3>Phone Number:</h3>
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Phone Number</mat-label>
        <input matInput type="text" name="phoneNumber" [(ngModel)]="phoneNumber">
      </mat-form-field>
    </div>

    <div class="form-group">
      <h3>Password:</h3>
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Password</mat-label>
        <input matInput type="password" name="password" [(ngModel)]="password">
      </mat-form-field>
    </div>

    <div class="button-group">
      <button mat-raised-button color="primary" *ngIf="!this.id" (click)="create()">
        <mat-icon>add</mat-icon> Create
      </button>
      <button mat-raised-button color="accent" *ngIf="this.id" (click)="edit()">
        <mat-icon>edit</mat-icon> Update
      </button>
      <a href="/users" class="btn btn-warning">
        <mat-icon>cancel</mat-icon> Cancel
      </a>
    </div>
  </mat-card-content>
</mat-card>
