<div class="container">
    <h1> New user creation: </h1>

    <h3>Political group:</h3>
    <div class="dropdown">
        <button class="dropbtn">{{this.groupName === "" ? "Select" : this.groupName}}</button>
        <div class="dropdown-content">
            <a *ngFor="let item of groups" (click)="this.groupId = item.id; groupName = item.readableId">{{item.readableId}}</a>
        </div>
    </div>
    <h3>Role:</h3>
    <div class="dropdown">
        <button class="dropbtn">{{this.roleName === "" ? "Select" : this.roleName}}</button>
        <div class="dropdown-content">
            <a *ngFor="let item of roles" (click)="this.roleId = item.id; roleName = item.name">{{item.name}}</a>
        </div>
    </div>


    <h3>First Name:</h3>
    <input type="text" name="firstName" [(ngModel)]="firstName">
    <br />
    <h3>Last Name:</h3>
    <input type="text" name="lastName" [(ngModel)]="lastName">
    <br />
    <h3>Email</h3>
    <input type="text" name="email" [(ngModel)]="email">
    <br />
    <h3>Phone Number</h3>
    <input type="text" name="phoneNumber" [(ngModel)]="phoneNumber">
    <br />
    <h3>Password:</h3>
    <input type="text" name="password" [(ngModel)]="password">
    <br />
    <!-- <h3>Is he a MEP?</h3>
    <div class="dropdown">
        <button class="dropbtn">Select</button>
        <div class="dropdown-content">
            <a (click)="this.isMEP = true">Yes</a>
            <a (click)="this.isMEP = false">No</a>
        </div>
    </div> -->
    <div>
        <a class="a-clickable" *ngIf="!this.id" (click)="this.create()" class="btn btn-success">Create</a>
        <a class="a-clickable" *ngIf="this.id" (click)="this.edit()" class="btn btn-secondary">Update</a>
        <a href="/" class="btn btn-warning">Cancel</a>
    </div>
</div>
