.container {
  margin-top: 15px; /* Add margin top */
}

.button-container {
  display: flex;
  gap: 10px; /* Adjust the value to control the space between the buttons */
  margin-top: 15px; /* Add margin-top to separate buttons from content above */
}

.button-container .btn {
  margin: 0; /* Ensure there is no margin added by other styles */
}
