.parent {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3); /* Sfondo semi-trasparente */
}

/* Nuovo contenitore che avvolge tutto il contenuto */
.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 900px; /* Limita la larghezza massima */
  min-width: 600px; /* Larghezza minima per evitare che si restringa troppo */
}

.center-card {
  width: 100%; /* Mantiene la larghezza al 100% */
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  max-height: 90vh;
}

/* Flexbox per i form field */
.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

/* Titoli allineati */
.form-group h3 {
  flex: 0 0 150px;
  margin: 0;
}

/* Larghezza piena per i campi */
.full-width {
  flex: 1;
}

/* Bottone centrato */
.button-group {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

/* Testo centrato */
.center-text {
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
}
