<a href="/users/create">Create new user</a>

<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

<table style="width: 100%;" mat-table [dataSource]="dataSource" matSort class="display-table">


  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
    <td mat-cell *matCellDef="let item">{{item.id}}</td>
  </ng-container>
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
    <td mat-cell *matCellDef="let item">{{item.email}}</td>
  </ng-container>
  <ng-container matColumnDef="firstName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>First Name</th>
    <td mat-cell *matCellDef="let item">{{item.firstName}}</td>
  </ng-container>
  <ng-container matColumnDef="lastName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Last Name</th>
    <td mat-cell *matCellDef="let item">{{item.lastName}}</td>
  </ng-container>
  <ng-container matColumnDef="password">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Password</th>
    <td mat-cell *matCellDef="let item">{{item.password}}</td>
  </ng-container>
  <ng-container matColumnDef="groups">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Groups</th>
    <td mat-cell *matCellDef="let item"><span *ngIf="item.groups">{{item.groups.name}}</span></td>
  </ng-container>
  <ng-container matColumnDef="roles">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Roles</th>
    <td mat-cell *matCellDef="let item">{{item.role.name}}</td>
  </ng-container>
  <ng-container matColumnDef="isMEP">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>isMEP</th>
    <td mat-cell *matCellDef="let item">
        <td mat-cell *matCellDef="let item">{{item.isMEP}}
    </td>
  </ng-container>

  <ng-container matColumnDef="edit">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>edit</th>
    <td mat-cell *matCellDef="let item">
      <button (click)="this.edit(item.id)">edit</button> 
    </td>
  </ng-container>

  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>delete</th>
    <td mat-cell *matCellDef="let item">
      <button (click)="this.delete(item.id)">delete</button>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>